{% extends 'base.html'%}

{%block content%}
{%if user.is_authenticated%}
<header>
<nav class="nav">
<ul class="u">
<li><a href="/dashboard/">Home</a></li>
<li><a href="">Add</a></li>
<li><a href="/dashboard/edit/">Edit</a></li>
<li><a href="../accounts/logout">{{user.username}}</a></li>
</ul>
</nav>
</header>
<hr>
{%for error in messages%}
	<p>{{error}}</p>
{%endfor%}	
<div class="add">
<form method="POST" action="">
	{%csrf_token%}
	<input type="text" name="mname" placeholder="medicien name">
	<input type="text" name="mcom" placeholder="medicien composition">
	<input type="text" name="mdesc"  placeholder="meddesccription">
	<input type="number" name="mtotal"  placeholder="medicine total">
	<input type="number" name="mprice" placeholder="medicien each cost">
	<input type="submit" value="submit">

</form>
</div>
{%endif%}
{%endblock %}

